# O NOME DO ARQUIVO DEVE SER `.gitignore` (ATENTE-SE AO PONTO NO INÍCIO)

# VSCode repo settings
.vscode
node_modules/
cypress/reports
cypress
forestadmin
sd-0x-project-shopping-cart-tests-master
cypress.json
package-lock.json
package.json
reporter.json
