* {
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

header {
  align-items: center;
  background-color: rgb(255, 241, 89);
  display: flex;
  width: 100%;
}

header h1 {
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid blue;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  max-width: 350px;
  width: 100%;
}

.item .title-image {
  display: flex;
  flex-direction: row-reverse;
}

.item .title-image .item__sku {
  display: none;
}

.item .title-image .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .title-image .item__image {
  max-width: 60px;
  width: 100%;
}

.item .item__add {
  background-color: green;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 5px;
}

.cart {
  box-shadow: 0 0 5px 0.2px gray;
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  padding: 20px;
  position: relative;
}

.cart .empty-cart {
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.price {
  align-items: center;
  background-color: yellow;
  box-shadow: 0 0 5px 0.1px gray;
  color:  rgb(44, 43, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 4px;
  top: -30px;
  width: 150px;
}

@media (min-width: 720px) {
  header h1 {
    font-size: 35px;
  }

  .content {
    flex-direction: row;
    padding: 10px;
  }

  .item {
    max-width: 270px;
  }

  .item .title-image {
    display: flex;
    flex-direction: column;
  }

  .item .title-image .item__image {
    max-width: none;
    width: 100%;
  }
}
